
@{
    ViewBag.Title = "Detail3";
}

<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <div class="section-title position-relative mb-5">
                        <h1 class="display-4">ASUS ROG 電競筆電 GA503QR-0022E5900HS 潮魂黑</h1>
                    </div>
                    <img class="img-fluid rounded w-100 mb-4" src="~/img/商品3.jpg" alt="Image">
                    <p>

                        處理器：AMD Ryzen9 5900HS 8核心/16緒<br/>

                        顯示卡：NVIDIA GeForce RTX-3070 8GB DDR6<br />

                        記憶體：8GB DDR4 onboard+8GB DDR4-3200<br />

                        固態硬碟：1TB M.2 NVMe™ PCIe® 3.0 SSD<br />

                        螢幕：15.6'(薄邊框)/QHD (2560 x 1440) 16:9/165Hz 3ms/IPS-level /300nits/ DCI-P3 % 100% /Anti glare / Adaptive-Sync / Pantone®專業色彩認證<br />

                        作業系統：Windows10
                    </p>

                    <p>
                        ASUS ROG GA503QR-0022E5900HS 潮魂黑

                        福利機，主要是展示，庫存備品，與全新機差異就是盒裝可能有小傷，機器基本上完美，充電器可能會有些許痕跡，出貨前會拆封檢視機器狀況後出貨。

                        售出日啟算保固兩年。原廠保固。
                    </p>
                </div>



            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="bg-primary mb-5 py-3">
                    <h3 class="text-white py-3 px-4 m-0">商品備註</h3>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">物品狀況：</h6>
                        <h6 class="text-white my-3">全新</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">物品所在地：</h6>
                        <h6 class="text-white my-3">台灣.台北市</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">最新關注時間： </h6>
                        <h6 class="text-white my-3">2024-06-04</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">上架時間：</h6>
                        <h6 class="text-white my-3">2023-12-13 20:35:29</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">商品價格更新時間:</h6>
                        <h6 class="text-white my-3">2024-05-03 19:06:49</h6>
                    </div>
                    <div class="d-flex justify-content-between px-4">
                        <h6 class="text-white my-3">庫存:</h6>
                        <h6 class="text-white my-3">7</h6>
                    </div>
                    <h5 class="text-white py-3 px-4 m-0">價格: 6,9999<small>(NTD)</small></h5>
                    <div class="py-3 px-4">
                        <a class="btn btn-block btn-secondary py-3 px-5" href="">加入購物車</a>
                    </div>
                </div>

                <div class="mb-5">
                    <h2 class="mb-3">賣家資訊</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="text-decoration-none h6 m-0">賣家帳號：</span>
                            <a href="">neon0115</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">全部商品：</a>
                            <span>21</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">賣場評價：</a>
                            <span class="fa fa-star" style="color:gold" />
                            <span style="color:red">5.0</span>
                        </li>

                    </ul>
                </div>

                <div class="mb-5">
                    <h2 class="mb-4">相關商品</h2>
                    <a class="d-flex align-items-center text-decoration-none mb-4" href="/Product/Detail">
                        <img class="img-thumbnail " src="~/img/商品1.jpg" alt="">
                        <div class="pl-3">
                            <h6>筆電 12吋 高階 輕薄 商務筆電 HP 820G3 i5 8G/256G</h6>
                            <div class="d-flex">
                                <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>茜仔筆電小舖</small>
                                <small class="text-body"><i class="fa fa-dollar-sign text-primary mr-2"></i>3,9999 (NTD)</small>
                            </div>
                        </div>
                    </a>
                    <a class="d-flex align-items-center text-decoration-none mb-4" href="/Product/Detail2">
                        <img class="img-thumbnail" src="~/img/商品2.jpg" alt="">
                        <div class="pl-3">
                            <h6>筆電 14吋 商務筆電 Lenovo Thinkpad T470 i5-6300/8G/240G 固態硬碟</h6>
                            <div class="d-flex">
                                <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>茜仔筆電小舖</small>
                                <small class="text-body"><i class="fa fa-dollar-sign text-primary mr-2"></i>4,9999 (NTD)</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->