
@{
    ViewBag.Title = "Detail2";
}

<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <div class="section-title position-relative mb-5">
                        <h1 class="display-4">筆電 14吋 商務筆電 Lenovo Thinkpad T470 i5-6300/8G/240G 固態硬碟</h1>
                    </div>
                    <img class="img-fluid rounded w-100 mb-4" src="~/img/商品2.jpg" alt="Image">
                    <p>

                        處理器 Intel Core i5 6200U<br/>

                        記憶體 8 DDR4<br />

                        硬碟 256G SSD<br />

                        顯示 Intel® HD Graphics (繪圖 線上遊戲 順暢)<br />

                        螢幕 14吋<br />

                        Windows 10<br />

                        功能正常，上網、繪圖、網頁遊戲順暢<br />

                        外商公司退役筆電，長期在冷氣房使用<br />

                        附原廠變壓器，全新筆電包+滑鼠
                    </p>

                    <p>
                        出貨皆含有一套正版WINDOWS，一套免費版OFFICE文書軟體，開機即用。

                        本公司售出筆電，皆保固一個月免費維修服務。

                        過保固後，享有後續完整保修服務(酌收材料/工費)

                        免費保固期間內，保固主機本體，主機本體硬體部分係指:螢幕，鍵盤，電池，主機板，喇叭。

                        螢幕面板保無破，無重大瑕疵。

                        周邊商品，贈品，軟體不在保固部分。

                        二手商品，不保固外觀部分 ，賣場已盡力細圖呈現，建議多翻閱照片，商品皆實機拍攝。
                    </p>
                </div>



            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="bg-primary mb-5 py-3">
                    <h3 class="text-white py-3 px-4 m-0">商品備註</h3>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">物品狀況：</h6>
                        <h6 class="text-white my-3">使用三年以上</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">物品所在地：</h6>
                        <h6 class="text-white my-3">台灣.台北市</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">最新關注時間： </h6>
                        <h6 class="text-white my-3">2024-06-20</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">上架時間：</h6>
                        <h6 class="text-white my-3">2024-04-26 19:34:11</h6>
                    </div>
                    <div class="d-flex justify-content-between border-bottom px-4">
                        <h6 class="text-white my-3">商品價格更新時間:</h6>
                        <h6 class="text-white my-3">2024-04-28 13:42:45</h6>
                    </div>
                    <div class="d-flex justify-content-between px-4">
                        <h6 class="text-white my-3">庫存:</h6>
                        <h6 class="text-white my-3">5</h6>
                    </div>
                    <h5 class="text-white py-3 px-4 m-0">價格: 4,9999<small>(NTD)</small></h5>
                    <div class="py-3 px-4">
                        <a class="btn btn-block btn-secondary py-3 px-5" href="">加入購物車</a>
                    </div>
                </div>

                <div class="mb-5">
                    <h2 class="mb-3">賣家資訊</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <span class="text-decoration-none h6 m-0">賣家帳號：</span>
                            <a href="">neon0115</a>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">全部商品：</a>
                            <span>21</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="" class="text-decoration-none h6 m-0">賣場評價：</a>
                            <span class="fa fa-star" style="color:gold" />
                            <span style="color:red">5.0</span>
                        </li>

                    </ul>
                </div>

                <div class="mb-5">
                    <h2 class="mb-4">相關商品</h2>
                    <a class="d-flex align-items-center text-decoration-none mb-4" href="/Product/Detail">
                        <img class="img-thumbnail " src="~/img/商品1.jpg" alt="">
                        <div class="pl-3">
                            <h6>筆電 12吋 高階 輕薄 商務筆電 HP 820G3 i5 8G/256G</h6>
                            <div class="d-flex">
                                <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>茜仔筆電小舖</small>
                                <small class="text-body"><i class="fa fa-dollar-sign text-primary mr-2"></i>3,9999 (NTD)</small>
                            </div>
                        </div>
                    </a>
                    <a class="d-flex align-items-center text-decoration-none mb-4" href="/Product/Detail3">
                        <img class="img-thumbnail" src="~/img/商品3.jpg" alt="">
                        <div class="pl-3">
                            <h6>ASUS ROG 電競筆電 GA503QR-0022E5900HS 潮魂黑</h6>
                            <div class="d-flex">
                                <small class="text-body mr-3"><i class="fa fa-user text-primary mr-2"></i>茜仔筆電小舖</small>
                                <small class="text-body"><i class="fa fa-dollar-sign text-primary mr-2"></i>6,9999 (NTD)</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->