
@{
    ViewBag.Title = "Index2";
}

<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row mx-0 justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center position-relative mb-5">
                    <h1 class="display-4">商品一覽</h1>
                </div>
                <div class="mx-auto mb-5" style="width: 100%; max-width: 600px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                商品分類:
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">筆電</a>
                                <a class="dropdown-item" href="#">平板電腦</a>
                                <a class="dropdown-item" href="#">其他</a>
                            </div>
                        </div>
                        <input type="text" class="form-control border-light" style="padding: 30px 25px;" placeholder="請輸入關鍵字">
                        <div class="input-group-append">
                            <button class="btn btn-secondary px-4 px-lg-5">搜尋</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="detail.html">
                    <img class="img-fluid" src="~/img/商品7.jpg" alt="">

                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            HyperX SoloCast USB 麥克風 黑
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>順發3C SUNFAR</span>
                                <span class="text-white">
                                    <i class="fa fa-dollar-sign mr-2"></i>990
                                    <small>(NTD)</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="detail.html">
                    <img class="img-fluid" src="~/img/商品8.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            TOTOLINK X6000R AX3000 WiFi6 Giga無線路由器
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>順發3C SUNFAR</span>
                                <span class="text-white">
                                    <i class="fa fa-dollar-sign mr-2"></i>1,560
                                    <small>(NTD)</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="detail.html">
                    <img class="img-fluid" src="~/img/商品9.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            RaZER 雷蛇 Barracuda X 2022版 梭魚 無線耳機 耳罩式 雙模連線 藍牙 耳機 麥克風 電競耳機
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>順發3C SUNFAR</span>
                                <span class="text-white">
                                    <i class="fa fa-dollar-sign mr-2"></i>2,388
                                    <small>(NTD)</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="detail.html">
                    <img class="img-fluid" src="~/img/商品10.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Razer 雷蛇 Hammerhead HyperSpeed 戰錘狂鯊 真無線耳機 PS5款
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Game休閒館</span>
                                <span class="text-white">
                                    <i class="fa fa-dollar-sign mr-2"></i>3,990
                                    <small>(NTD)</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="detail.html">
                    <img class="img-fluid" src="~/img/商品11.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Razer 雷蛇 Wolverine V2 Chroma 機械觸感有線控制器 金鋼狼（For PC/Xbox）
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Game休閒館</span>
                                <span class="text-white">
                                    <i class="fa fa-dollar-sign mr-2"></i>3,990
                                    <small>(NTD)</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 pb-4">
                <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="detail.html">
                    <img class="img-fluid" src="~/img/商品12.jpg" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">
                            Razer 雷蛇 Kitsune 電競格鬥搖桿 全光軸按鈕街機控制器 黑色
                        </h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>Game休閒館</span>
                                <span class="text-white">
                                    <i class="fa fa-dollar-sign mr-2"></i>8,900
                                    <small>(NTD)</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg justify-content-center mb-0">
                        <li class="page-item disabled">
                            <a class="page-link rounded-0" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="/Product/Index">1</a></li>
                        <li class="page-item  active"><a class="page-link" href="/Product/Index2">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link rounded-0" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Courses End -->