
@{
    ViewBag.Title = "Index";
}

<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                    
                    <h1 class="display-4">
                        全台最大<br/>
                        3C商品賣場
                    </h1>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-bacon text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>商品最低一年保固</h4>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-file text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>免費送貨到府</h4>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book-reader text-white"></i>
                    </div>

                    <div class="mt-n1">
                        <h4>代送原廠維修</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/courses-5.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->

<!-- Feature Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="section-title position-relative mb-4">
                   
                    <h1 class="display-4">
                        全省都有分店<br/>
                        店內都有專業服務人員
                    </h1>
                </div>
                
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-shopping-bag text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>用不到的3C都可以來估價回收</h4>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-store text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>怕買到機王?那就到現場看實機!</h4>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-brain text-white"></i>
                    </div>
                    <div class="mt-n1">
                        <h4>3C不會操作都可以來詢問</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/img/courses-4.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature Start -->